.header-layout {
  text-align: center;
  padding: 4rem 0;
  letter-spacing: 0.5rem;
}

.header-layout h4 {
  font-weight: 700;
}

@media only screen and (max-width: 375px) {
  .header-layout {
    padding: 2rem 0;
  }
}
