.custom-input {
  margin: 1rem 0;
}

.label-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.error-message {
  color: hsl(10, 90%, 61%);
}

.error-container {
  border-color: hsl(10, 90%, 61%) !important;
}

.label-container p {
  text-align: center;
}

.input-label {
  font-weight: 700;
}

.input-container {
  border: 2px solid hsl(189, 41%, 97%);
  border-radius: 0.4rem;
  margin: 0.5rem 0;
  overflow: hidden;
}

.input-container:hover {
  border-color: hsl(172, 67%, 45%) !important;
}

.input-container:active {
  border-color: hsl(172, 67%, 45%);
}

.icon-container {
  padding: 1rem;
  background-color: hsl(189, 41%, 97%) !important;
}

.input-container span {
  background-color: hsl(189, 41%, 97%);
  border-color: hsl(189, 41%, 97%);
}

.input-container input {
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  border-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%) !important;
  background-color: hsl(189, 41%, 97%);
}

.input-container input::placeholder {
  color: hsl(184, 14%, 56%);
}

.input-container input:focus {
  background-color: hsl(189, 41%, 97%);
  border-color: hsl(189, 41%, 97%);
}
