.input-label {
  font-weight: 700;
}

.input-container {
  border: 1px solid;
  border-radius: 0.4rem;
  margin: 0.5rem 0;
}

.input-container span {
  background-color: hsl(189, 41%, 97%);
  border-color: hsl(189, 41%, 97%);
}

.input-container input {
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  border-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%) !important;
  background-color: hsl(189, 41%, 97%);
}

.input-container input::placeholder {
  color: hsl(184, 14%, 56%);
}

.input-container input:focus {
  background-color: hsl(189, 41%, 97%);
  border-color: hsl(189, 41%, 97%);
}
